.formSearchBar {
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: #222629;
  border: 1px solid yellow;
  border-radius: 6px;
  margin-bottom: 15px;
  width: 370px;
}
.formSearchInput {
  width: 300px;
  padding: 8px 18px;
  outline: transparent;
  font-size: 18px;
  color: grey;
  background-color: #222629;
  border: 1px solid transparent;
  border-radius: 6px;
}
.formSearchBar:has(
    .formSearchInput:hover,
    .formSearchInput:focus,
    .formSearchInput:active
  ) {
  border: 2px solid gold;
}
.formSearchBtn {
  display: flex;
  align-items: center;
  color: yellow;
  padding: 6px;
  background-color: #222629;
  outline: transparent;
  border: 1px solid transparent;
  border-radius: 6px;
}
